<p style="color: green"><%= notice %></p>

<% content_for :title, "Simon's Notes" %>

<h1>My Notes</h1>

<div id="notes">
  <% @notes.each do |note| %>
    <%= render note %>
      <small><%= ktown_time(note.created_at) %></small>
    <p>
      <%= link_to "Show this note", note %>
    </p>
  <% end %>
</div>

<%= link_to "New note", new_note_path %>
